/* Small  768px  to 991px*/
@media (max-width: 768px) {
}
/* Medium 92px  to 1199px*/
@media (max-width: 992px) {
  .cart-drawer {
    width: 100%;
  }
  .search-drawer {
    width: 100%;
  }
}
/* Large 1200px up to */
@media (min-width: 1200px) {
  /* .container {
    width: 1170px;
  } */
}
