/* Small  768px  to 991px*/
@media (max-width: 768px) {
  .hero-section {
 top: 8%;
}
}
/* Medium 92px  to 1199px*/
@media (min-width: 992px) {  
  /* .container {
    width: 970px;
  } */
}
/* Large 1200px up to */
@media (min-width: 1200px) { 
  /* .container {
    width: 1170px;
  } */
}